@{
    ViewBag.Title = "About CoLeadr";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CoLeadr is a thing that does a thing.</p>
<p>It doesn't have a second 'e' because there is only one 'e' in 'team'.  Also, missing an 'e' is super trendy.
    Look at what it did for Tumblr and Grindr and that other app. </p>
<p>CoLeadr will probably also be the cause of its developer's untimely demise.</p>

