@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CoLeadr</h1>
    <p class="lead">CoLeadr is a thing that does a thing.  It doesn't have a second 'e' because not having a second 'e' is trendy.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Member Management</h2>
        <p>
            CoLeader stores important information on your group members in one place, and allows for easy sorting of members into subgroups. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Project Management</h2>
        <p>Easily track group and/or individual member progress on projects.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Event Tracking</h2>
        <p>Keep track of your group events. </p>
    </div>
</div>

